#A12{ 
	position: relative;
			bottom: 0;
 			right:50%;
}
body {
 margin: 5;
 background-image: url("/Images/DSC_0280-1.jpg");
 background-repeat:no-repeat;
 display: compact;
 font: 20px "Helvetica Neue";
 background-size:cover;

}



h2 {
    font: 18px "Helvetica Neue";
    position: absolute;
			bottom: 10%;
 			left:0%;
 			background-color: white;

}

footer{ 
	 	position: absolute;
			bottom: 0;
 			right:2%;
	
}


